@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('lucida_sans_unicode-webfont.woff2') format('woff2'), url('lucida_sans_unicode-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.wrapper {
    width: 909px;
    height: 100%;
    margin: auto;
}

.header {
    padding-top: 17px;
}

.phone {
    font-size: 19px;
    font-family: Arial, Tahoma, sans-serif;
    color: #5e696d;
}

.phone img {
    float: left;
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom: 11px;
}

.phone span {
    float: left;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 1px;
    margin-bottom: 11px;
}

.icon {
    float: right;
    width: 74px;
    height: 20px;
    margin: 0 7px 0 16px;
    border-radius: 10px/10px 10px 9px 9px;
    background-color: #fff;
    border: 1px solid #bdc4c7;
    box-shadow: 2px 3px 5px rgba(188, 188, 188, 1);
}

.icon ul li a {
    display: inline-block;
    float: left;
    margin-left: 8px;
}

.login {
    float: right;
    width: 495px;
    height: 26px;
    margin-bottom: 10px;
    border-radius: 4px/3px;
    background-color: #b1bcc0;
    -webkit-box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    -moz-box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}

.man_login {
    float: left;
    width: 14px;
    height: 18px;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 4px;
    margin-bottom: 3px;
}

.form_login {
    float: left;
    line-height: 25px;
}

input[type="text"], input[type="password"] {
    width: 108px;
    height: 12px;
    padding-left: 1px;
}

.entrance {
    display: inline-block;
    padding-left: 5px;
    padding-right: 4px;
    outline: none;
    color: #fff;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    background: none;
    cursor: pointer;
    line-height: 22px;
}

.border_line {
    float: left;
    height: 10px;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 7px;
    border-left: 1px solid white;
}

.regist_button a {
    float: left;
    display: inline-block;
    line-height: 11px;
}

.regist {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 18px;
    color: #fff;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.forgot {
    padding-top: 9px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-size: 11px;
    color: #bfbfbf;
}

.main_image {
    float: left;
    width: 909px;
    height: 237px;
    margin-bottom: 6px;
}

.horizontal_menu {
    width: 909px;
    height: 34px;
    display: flex;
    flex-direction: row;
    -webkit-border-radius: 5px/3px 3px 2px 2px;
    -moz-border-radius: 5px/3px 3px 2px 2px;
    border-radius: 5px/3px 3px 2px 2px;
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
    border: solid 1px #0d1642;
    background-image: -webkit-linear-gradient(bottom, #000, #576068);
    background-image: -moz-linear-gradient(bottom, #000, #576068);
    background-image: -o-linear-gradient(bottom, #000, #576068);
    background-image: -ms-linear-gradient(bottom, #000, #576068);
    background-image: linear-gradient(to top, #000, #576068);
}

.top_menu {
    display: inline-flex;
    padding-left: 134px;
}

.item {
    display: flex;
    height: 21px;
    padding-top: 10px;
    padding-left: 11px;
    padding-right: 12px;
    color: #939c9f;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.item:hover {
    color: #fff;
    height: 22px;
    -webkit-border-radius: 12px/13px;
    -moz-border-radius: 12px/13px;
    border-radius: 12px/13px;
    background-color: #f60303;
    background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}

.top_menu2 {
    height: 34px;
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 70px;
    margin-top: 6px;
}

.case ul li a {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 14px;
    font-family: Arial, Tahoma, sans-serif;
    color: #929b9f;
    font-size: 11px;
    text-decoration: none;
}

.basket {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 6px;
}

.gds::after {
    padding-left: 7px;
    content: "0";
    font-size: 12px;
    color: #0d5a8f;
}

.total::after {
    padding-left: 15px;
    content: "0,00 грн.";
    font-size: 12px;
    color: #0d5a8f;
}

.left_menu {
    float: left;
    width: 187px;
    height: auto;
    margin-top: 163px;
}

.catalog_left {
    width: 173px;
    padding-top: 8px;
    padding-left: 8px;
    color: #114165;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 13px;
}

.catalog {
    width: 179px;
    height: 25px;
    margin-left: -1px;
    -webkit-border-radius: 12px/12px 12px 13px 13px;
    -moz-border-radius: 12px/12px 12px 13px 13px;
    border-radius: 12px/12px 12px 13px 13px;
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    -moz-box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    border: solid 1px #79878d;
}

.img_menu1 {
    float: left;
    padding-top: 1px;
    padding-right: 4px;
    padding-left: 2px;
}

.tyres_menu {
    width: 148px;
    height: 27px;
    -webkit-border-radius: 11px/13px;
    -moz-border-radius: 11px/13px;
    border-radius: 11px/13px;
    background-color: #fff;
    border: solid 1px #79878d;
}

.left_tyre {
    margin-top: 13px;
    margin-left: 1px;
}

.tyre_left {
    padding-top: 9px;
    color: #114165;
    font-size: 13px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 12px;
}

.img_menu2 {
    float: left;
    padding-top: 1px;
    padding-right: 2px;
    padding-left: 4px;
}

.tyre_name {
    height: 14px;
    padding-left: 7px;
    margin-top: 1px;
    margin-left: 27px;
}

.tyre_name li a {
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color: #465961;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 25px;
}

.tyre_name li a:hover {
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    background: url(../img/marker-hover.png) no-repeat 0 5px;
    color: #0c3256;
    text-decoration: underline;
}

.tyre_name li {
    background: url(../img/marker.png) no-repeat 0 4px;
}

.left_wheel {
    margin-top: 83px;
}

.wheels_menu {
    width: 148px;
    height: 27px;
    -webkit-border-radius: 11px/13px;
    -moz-border-radius: 11px/13px;
    border-radius: 11px/13px;
    background-color: #fff;
    border: solid 1px #79878d;
}

.wheel_left {
    padding-top: 8px;
    color: #114165;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 13px;
}

.img_menu3 {
    float: left;
    padding-top: 1px;
    padding-right: 2px;
    padding-left: 4px;
}

.wheel_name {
    height: 14px;
    padding-left: 8px;
    margin-top: 1px;
    margin-left: 28px;
}

.wheel_name li {
    background: url(../img/marker.png) no-repeat 0 4px;
    line-height: 24px;
}

.wheel_name li a {
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color: #465961;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
}

.wheel_name li a:hover {
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    background: url(../img/marker-hover.png) no-repeat 0 5px;
    color: #0c3256;
    text-decoration: underline;
}

.left_bolt {
    margin-top: 83px;
    margin-left: -1px;
}

.boltes_menu {
    width: 148px;
    height: 27px;
    -webkit-border-radius: 11px/13px;
    -moz-border-radius: 11px/13px;
    border-radius: 11px/13px;
    background-color: #fff;
    border: solid 1px #79878d;
}

.bolt_left {
    padding-top: 8px;
    color: #114165;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 13px;
}

.img_menu4 {
    float: left;
    padding-top: 1px;
    padding-right: 2px;
    padding-left: 4px;
}

.bolt_name {
    height: 14px;
    padding-left: 3px;
    margin-top: 4px;
    margin-left: 33px;
}

.bolt_name li {
    background: url(../img/marker.png) no-repeat 0 4px;
    line-height: 25px;
}

.bolt_name li a {
    display: block;
    padding-left: 10px;
    text-decoration: none;
    color: #465961;
    font-size: 13px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
}

.bolt_name li a:hover {
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    background: url(../img/marker-hover.png) no-repeat 0 5px;
    color: #0c3256;
    text-decoration: underline;
}

main {
    width: 526px;
    height: 627px;
    float: left;
    margin-top: 160px;
    margin-left: 4px;
    -webkit-border-radius: 3px/2px 2px 3px 3px;
    -moz-border-radius: 3px/2px 2px 3px 3px;
    border-radius: 3px/2px 2px 3px 3px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, rgba(35, 75, 93, .49), rgba(201, 207, 209, .49));
    background-image: -moz-linear-gradient(bottom, rgba(35, 75, 93, .49), rgba(201, 207, 209, .49));
    background-image: -o-linear-gradient(bottom, rgba(35, 75, 93, .49), rgba(201, 207, 209, .49));
    background-image: -ms-linear-gradient(bottom, rgba(35, 75, 93, .49), rgba(201, 207, 209, .49));
    background-image: linear-gradient(to top, rgba(35, 75, 93, .49), rgba(201, 207, 209, .49));
}

.first_choice {
    padding-top: 13px;
}

.second_choice {
    padding-top: 21px;
}

.third_choice {
    padding-top: 23px;
}

h4 {
    color: #206988;
    font-size: 17px;
    font-style: 'Lucida Sans Unicode', Tahoma, sans-serif;
    text-align: center;
}

.name_model {
    color: #1f2528;
    font-style: 'Lucida Sans Unicode', Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
}

.menu_image {
    width: 136px;
    height: 127px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #fff;
    border: solid 1px #a4aeb1;
}

.image_goodyear {
    padding-top: 5px;
    padding-left: 30px;
}

.image_nokian {
    padding-top: 5px;
    padding-left: 34px;
}

.image_hankook {
    padding-top: 5px;
    padding-left: 29px;
}

.goodyear {
    float: left;
    margin-left: 21px;
}

.nokian {
    float: left;
    margin-left: 28px;
}

.hankook {
    float: left;
    margin-left: 30px;
}

.price {
    margin: 5px 1px 0 14px;
    color: #114165;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Tahoma, sans-serif;
    text-align: center;
}

.right_menu {
    width: 182px;
    float: right;
    height: auto;
    margin-top: 161px;
}

.brand_menu {
    height: 25px;
    -webkit-border-radius: 12px/12px 12px 13px 13px;
    -moz-border-radius: 12px/12px 12px 13px 13px;
    border-radius: 12px/12px 12px 13px 13px;
    background-color: #fff;
    -webkit-box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    -moz-box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
    border: solid 1px #79878d;
}

.brend_menu1 {
    padding-top: 6px;
    padding-left: 6px;
    color: #0c3256;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 13px;
}

.right_check {
    display: block;
    margin-top: 13px;
    margin-left: 11px;
}

.tyres_menu2 {
    width: 136px;
    height: 27px;
    margin-top: 13px;
    -webkit-border-radius: 11px/13px;
    -moz-border-radius: 11px/13px;
    border-radius: 11px/13px;
    background-color: #fff;
    border: solid 1px #79878d;
}

.tyre_right {
    padding-top: 10px;
    color: #114165;
    font-size: 15px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 11px;
}

.tyre_menu_check {
    margin-top: -2px;
    margin-left: 1px;
}

.tyre_check {
    display: block;
    height: 17px;
    padding-left: 11px;
    padding-top: 8px;
    color: #465961;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
}

.tyre_check input {
    top: 1px;
    left: 10px;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

.right_wheel {
    width: 137px;
    height: 27px;
    margin-top: 13px;
    -webkit-border-radius: 11px/13px;
    -moz-border-radius: 11px/13px;
    border-radius: 11px/13px;
    background-color: #fff;
    border: solid 1px #79878d;
}

.wheel_right {
    padding-top: 7px;
    padding-left: 4px;
    color: #114165;
    font-size: 17px;
    font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
    line-height: 13px;
}

.wheel_menu_check {
    margin-top: -2px;
}

.search_button {
    width: 80px;
    height: 25px;
    margin-top: 20px;
    margin-left: 12px;
    color: #e5e9ea;
    font-size: 11px;
    font-family: Arial, Tahoma, sans-serif;
    -webkit-border-radius: 10px/11px;
    -moz-border-radius: 10px/11px;
    border-radius: 10px/11px;
    background-color: #000;
    border: solid 1px #a7abae;
    background-image: -webkit-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -moz-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -o-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: -ms-linear-gradient(top, #206988, #114165 59%, #0c3256);
    background-image: linear-gradient(to bottom, #206988, #114165 59%, #0c3256);
}

.companies {
    height: 55px;
    padding-left: 116px;
    padding-top: 35px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
}

.bridge {
    padding-left: 8px;
    padding-bottom: 8px;
}

.conti {
    padding-left: 9px;
    padding-bottom: 2px;
}

.dopper {
    padding-left: 12px;
    padding-bottom: 3px;
}

.avon {
    padding-left: 7px;
    padding-bottom: 8px;
}

.tire {
    padding-top: 2px;
    padding-left: 9px;
}

.pirelli {
    padding-left: 10px;
    padding-bottom: 7px;
}

.dunlop {
    padding-left: 11px;
    padding-bottom: 8px;
}

footer {
    width: 908px;
    height: 99px;
    background-color: #213a4d;
    border: 1px solid #242a3c;
}

.footer_menu {
    text-align: center;
    padding-top: 7px;
}

.footer_menu ul li {
    display: inline-block;
    padding-right: 5px;
}

.footer_menu span {
    color: #bec6c9;
    padding-left: 15px;
}

.footer_menu a {
    color: #bec6c9;
    font-size: 12px;
    font-family: Arial, Tahoma, sans-serif;
    text-decoration: none;
}

.footer_menu a:hover {
    color: #52abcb;
}

.copyright {
    margin-top: 16px;
    color: #7f4740;
    font-size: 10px;
    font-family: Arial, Tahoma, sans-serif;
    text-align: center;
}

.copyright a {
    color: #7f4740;
    text-decoration: none;
}
